Django==2.2.13
jwt==0.6.1
PyMySQL==0.9.3
pymysql==0.9.3
django-cors-headers==2.4.0
mysql-connector==2.1.7
newspaper3k==0.2.8
articleDateExtractor==0.20
djangorestframework-jwt==1.11.0
djangorestframework==3.9.4
tweepy==3.7.0
twitter==1.18.0
